footer {
    background-color: rgb(32, 32, 32);
    color: #ffffff;
    padding: 1rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

footer nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

footer nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8rem;
}

footer nav a:hover {
    background-color: rgb(63, 63, 63);
}

footer p {
    margin: 0;
    font-size: 0.6rem;
}

footer h1 {
    margin: 0;
    font-size: 1rem;
}

body {
    margin: 0;
    padding-bottom: 8rem;
}
html {
    font-family: Verdana ,sans-serif;
}