body {
    margin: 0;
    padding-bottom: 0;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
html {
    font-family: Verdana ,sans-serif;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

footer {
    background-color: rgb(32, 32, 32);
    color: #ffffff;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

footer nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

footer nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8rem;
}

a:hover {
    background-color: rgb(63, 63, 63);
}

footer p {
    margin: 0;
    font-size: 0.6rem;
}

footer h1 {
    margin: 0;
    font-size: 1rem;
}

navbar {
    background-color: rgb(32, 32, 32);
    color: #ffffff;
    width: calc(100% - 1rem);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0.5rem;
    gap: 0;
    height: 4rem;
    border-radius: 2rem;
    align-content: top;
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 100;
}

navbar img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    display: block;
}

.logo-button {
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    align-items: center;
}
navbar nav ul {
    display: flex;
    list-style: none;
    gap: 0rem;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
}

navbar nav a {
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 1rem;
}

navbar nav a:hover {
    background-color: rgb(63, 63, 63);
}

.logo-button:hover {
    background-color: transparent;
}
content {
    color: black;
    display: block;
    padding: 2rem;
    flex: 1;
}

content h1 {
    font-size: 3rem;
    font-weight: 750;
    
}

content h2 {
    font-size: 2rem;
    font-weight: 500;
    width: fit-content;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

content h3{
    font-size: 1.5rem;
    font-weight: 750;
    width: fit-content;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

content b {
    font-weight: 750;
    font-size: 1.5rem;
}

content ip {
    font-size: 1.5rem;
    font-weight: 750;
    background-color: rgb(48, 92, 130);
    color: white;
    display: inline-block;
    width: fit-content;
    padding: 1rem;
    border-radius: 0.75rem;
    margin-right: 0.5rem;
}

.ip-container {
    margin-bottom: 1rem;
}

content modlist {
    font-size: 1rem;
    font-weight: 500;
    background-color: rgb(48, 92, 130);
    color: white;
    width: fit-content;
    padding: 1rem;
    border-radius: 0.75rem;
    margin-bottom: 0.5rem;
    display: block;
    width: 20rem;
    justify-content: center;
}

content modlist a {
    color: white;
    text-decoration: none;
}

content modlist:hover {
    background-color: #42787B;
}

content modlist a:hover {
    color: white;
    text-decoration: none;
    background-color: #42787B
}